body {
    padding: 0;
    margin: 0;
    background: rgb(240, 194, 69);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/-6KSmfbGJ0qMPYonKW66IjJTDzy8nKiWMO6zk93XA38Xele633naSSz2Rrgh5uXFd8vNEufb7cfG1a92YDq_kYipvF5V2U3weYTVac5gJVijLOefTGnvX6mBWw7XzHIqEVXwvlwntYdV8457Vzds2eBdD8N_3BvdvW5E9jWF_AhXgArP58lN5IdNEvv6omYtPBBrmpxxfwNLyjGlpAtbqov1D4KB9_bYkpyyDfZ8AiEny2fuJpyRB6fD9HMot0kiM3wKLfuOwHYHTMuB2Ki1BLyOuTMwtB27w2gCd7kBqqTf8J4kRISSwiRLTg1dOghgGuU4RbuFsWdblAO3x6TIetMIm2pqdEjNMaGbwiXz57zY4QNIgy4BXgFRGyHZOAgKnQ1SNwi9mctO-gITPdrZ1ilOl1comlNPjRwJcor6wswvg-PpehA5ReD1w2sHjVpau9Ui9U-SSZmpsNAd0CCMf0KFP-S2ifUfPZp8Tp9buwm-CQ7Cwov520dFjUIjj8dvn4M4p5XqcQ12-XJuo74xSa9pkA3mCt13Sl-7zWZrMTl_sHPILUrH2TXO39xQoqqIHRRPp62KQUVUwUFhUAVD5h--DRx75NcOtiX9P03HSw=w1119-h588-no);
    height: 500px;
    background-position: center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: rgb(236, 20, 20);
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: rgb(224, 22, 22);
    text-align: center;
    line-height: 24px;
    font-family: 'Pacifico Shadows Into Light', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: rgb(0, 0, 0);
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: rgb(46, 35, 35);
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: rgba(226, 109, 109, 0.925);
  }
  
  .light {
    background-color: rgba(253, 251, 103, 0.849);
  }
  
  .city {
    background-color: rgb(45, 143, 255);
  }
  
  .vienna {
    background-color: #D78C8A;
  }
  
  .italian {
    background-color: #000000;
  }
  
  /* Typography */
  h1 {
    color: #a39c39;
    line-height: 100px;
    font-family: "Permanent Marker", cursive;
    font-size: 80px;
    position: relative;
    text-align: center;
    top: 75%;
  }
  
  h2 {
    color: rgb(31, 23, 15);
    font-family: 'Pacifico|Shadows+Into+Light', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: rgb(0, 0, 0);
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
  
  h4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 500;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    line-height: .2em;
    font-weight: 500;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #a56743e7;
    line-height: 32px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
